<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #eee;">
<%- include('partials/navbar')%>
<%- include('flashes/flash')%>

<!-- <div class="d-flex justify-content-center my-5">
    <img src="/images/cartlogin.webp" alt="" width="300" height="200">

</div> -->
<section class="h-100 h-custom" >
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
<div class="d-flex justify-content-center my-5 col-lg-12">    
  <div class="card text-center" style="width: 20rem;">
      <img src="/images/cartlogin.webp" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">Empty Wishlist</h5>
        <p class="card-text">Login to see the items you added previously
        </p>
        <a href="/login" class="btn btn-primary">Login</a>
      </div>
    </div>
  </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
<%- include('./partials/footer')%>

</html>

